body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

body,
html {
  min-width: 1440px;
  min-height: 2476px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

/* Кнопки и ссылки */
.btn {
  display: inline-block;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #fb565a;
  cursor: pointer;
  padding: 17px 38px;
  border-radius: 3px;
  border: none;
  vertical-align: middle;
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

/*Главная*/
.header {
  background-color: #eeeeee;
  width: 1440px;
  margin: 0 auto;
}

.header-nav {
  font-weight: 500;
  line-height: 30px;
  color: #000000;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1160px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;
}

.header-logo {
  width: 160px;
  height: 55px;
}

.nav-container {
  display: flex;
  padding-top: 50px;
  width: 800px;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 440px;
  list-style: none;
}

.nav-list li {
  padding-left: 1px;
}

.nav-list a,
.nav-basket a {
  text-transform: uppercase;
  color: #000000;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-basket a:hover,
.nav-basket a:focus {
  color: #fb565a;
}

.nav-list a:active,
.nav-basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.nav-list .item-curent,
.nav-list .item-curent:hover,
.nav-basket .item-curent {
  color: #000000;
  border-bottom: 2px solid #fb565a;
  padding-bottom: 9px;
}

.nav-basket a {
  margin: 0;
  padding: 0;
  width: 120px;
  text-align: right;
  position: relative;
}

.nav-basket a::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-image: url(../img/decor/cart-icon.svg);
  background-repeat: no-repeat;
  top: 2px;
  left: -40px;
}

/* Слайдер */

/* slider 2/3 off */
.slider-wrapper-first,
.slider-wrapper-third {
  display: none;
}

.slider {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding-top: 10px;
  background-color: #eeeeee;
  justify-content: center;
  overflow: hidden;
}

.slider-wrapper-first {
  width: 1200px;
  background-image: url(../img/decor/slide1.png);
  background-repeat: no-repeat;
  background-position: 452px 15px;
  padding-bottom: 80px;
}


.slider h2 {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  margin: 0;
  padding-bottom: 29px;
}

.slider p {
  color: #283136;
  margin: 0;
  padding-bottom: 40px;
}

.slider-container-first {
  width: 400px;
  padding-top: 75px;
  padding-left: 20px;
}

.slider-btn {
  display: inline-block;
  padding: 16px 52px;
  border-radius: 3px;
  vertical-align: middle;
}

.slider-wrapper-second {
  width: 1200px;
  background-image: url(../img/decor/slide2.png);
  background-repeat: no-repeat;
  background-position: 515px top;
  padding-bottom: 80px;
}

.slider-container-second {
  width: 560px;
  margin-top: 75px;
  padding-left: 20px;

}


.slider-wrapper-third {
  width: 1200px;
  background-image: url(../img/decor/slide3.png);
  background-repeat: no-repeat;
  background-position: 420px bottom;
  padding-bottom: 80px;
}

.slider-container-third {
  width: 450px;
  margin-top: 75px;
  padding-left: 20px;

}

.button-container {
  position: absolute;
}

.button-container button {
  position: relative;
  top: 314px;
  height: 16px;
  width: 6px;
  margin-left: 11px;
  border-radius: 50%;
  cursor: pointer;
  transform: translateX(-5px);
  border: none;
}

.button-container button:hover::before {
  content: "";
  position: absolute;
  bottom: 50%;
  right: 50%;
  width: 8px;
  height: 8px;
  box-sizing: border-box;
  border: 1px solid #dfdfdf;
  border-radius: 50%;
  transform: translateX(50%) translateY(50%);
}

/* Список предложений */

.directions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1160px;
  margin: auto;
  margin-top: 79px;
  box-sizing: border-box;
}

.directions h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 173px;
  margin: 0;
  padding-bottom: 15px;
}

.directions p {
  color: #283136;
  width: 250px;
  margin: 0;
  padding-bottom: 30px;
}

.directions-web,
.directions-app,
.directions-presentation {
  width: 360px;
  padding-bottom: 40px;
}

.directions-web {
  background-image: url("../img/decor/illustration-1.png");
  background-repeat: no-repeat;
}

.directions-app {
  background-image: url("../img/decor/illustration-2.png");
  background-repeat: no-repeat;

}

.directions-presentation {
  background-image: url("../img/decor/illustration-3.png");
  background-repeat: no-repeat;
}

.btn-app {
  background-color: #00ca74;
}

.btn-app:hover {
  background-color: #00bc6c;
}

.btn-app:active {
  background-color: #00aa62;
}

.btn-presentation {
  background-color: #efc84a;
}

.btn-presentation:hover {
  background-color: #eab534;
}

.btn-presentation:active {
  background-color: #e5a722;
}



/* Блок о нас */
.features {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding-top: 30px;
  padding-bottom: 50px;
  width: 1160px;
  margin-top: 40px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}


.features-about h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 40px;
}

.features-about p:nth-child(1) {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  padding-top: 40px;
}

.features-about p:nth-child(2) {
  color: #283136;
  margin: 0;
  padding-top: 37px;
}

.about-list {
  position: absolute;
  margin: 0;
  padding: 0;
  padding-left: 36px;
  list-style: none;
  color: #283136;
}

.features-about {
  width: 680px;
}

.about-list li {
  padding-top: 24px;
  position: relative;
}

.about-list li::before {
  content: " ";
  position: absolute;
  margin-top: 8px;
  height: 2px;
  width: 25px;
  top: 26px;
  left: -35px;
  background-color: #fb565a;
}

.statistic {
  padding-top: 10px;
  width: 360px;
  margin-left: auto;
}

.statistic p {
  font-weight: 700;
  text-transform: uppercase;
  padding-left: 16px;
  padding-top: 29px;
  margin: 0;
}

.statistic-table {
  padding-top: 55px;
}


.statistic-table td {
  width: 308px;
  padding-bottom: 20px;
  margin: 0;
}

.statistic-table tr:nth-child(1) {
  font-weight: 700;
  font-size: 45px;
}

.statistic-table tr:nth-child(2) {
  line-height: 18px;
  color: #283136;
}


/* Блок клиетов */

.customers-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-top: 40px;
  padding-bottom: 34px;
  align-items: center;
  width: 1160px;
  border-bottom: 2px solid #eeeeee;
  list-style: none;
}

.customers-list li {
  padding-top: 10px;
  position: relative;
  text-align: center;
  width: 260px;
}

.customers-list li:not(:first-of-type)::after {
  content: "";
  position: absolute;
  bottom: 50%;
  left: -21px;
  width: 2px;
  height: 52px;
  border-left: 2px solid #eeeeee;
  transform: translateY(50%);
}


.customers-list a {
  opacity: 0.2;
}

.customers-list a:hover,
.customers-list a:focus {
  opacity: 1;
}

.customers-list a:active {
  opacity: 0.1;
}

/* Подвал */

/* Карта */
.footer {
  width: 1440px;
  margin: 0 auto;
  margin-top: 80px;
}

.footer-map {
  position: relative;
  background-image: url(../img/decor/map.png);
  background-repeat: no-repeat;
}

.contacts {
  width: 319px;
  min-height: 308px;
  box-sizing: border-box;
  left: 140px;
  position: absolute;
  bottom: 65px;
  background-color: #ffffff;
  padding-left: 50px;
  padding-right: 50px;
}

.contacts h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  padding-top: 55px;
  padding-bottom: 7px;
  margin: 0;
}

.contacts p,
.contacts .tel {
  line-height: 18px;
  color: #666666;
}

.write-us {
  margin-top: 32px;
  padding: 15px 44px;
}

/* Соц сети */

.footer-socials {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 25px;

}

.socials-list {
  display: flex;
  justify-content: space-between;
  width: 260px;
  margin: 0;
  padding-top: 35px;
  padding-left: 20px;
  list-style: none;
  flex-wrap: wrap;
}


.socials-list a {
  display: flex;
  background-color: #e1e1e1;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.socials-list a:hover,
.socials-list a:focus {
  background-color: #e74246;
}

.socials-list a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.btn-vk:active path,
.btn-fb:active path,
.btn-inst:active path {
  opacity: 0.3;
}


.promo {
  padding-left: 140px;
  padding-top: 10px;
  width: 560px;
}

.promo p {
  margin: 0;
  padding-top: 35px;
}

.promo p:first-child {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
}

.promo p:last-child {
  line-height: 22px;
  color: #444444;
  padding-top: 9px;
}

/* Форма */

.feedback {
  position: relative;
  width: 960px;
  background-color: #ffffff;
  margin: auto;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
}

.feedback h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin: 0;
  padding-top: 66px;
  padding-left: 99px;
}

.feedback-close {
  background-image: url(../img/decor/close-cross-icon.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.3;
  width: 8px;
  height: 18px;
  position: absolute;
  left: 850px;
  top: 78px;
}

.feedback-close:hover {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}

.feedback-form {
  width: 760px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.feedback-form .form-wrapper {
  width: 360px;
  padding-top: 40px;
}

.feedback-form .form-wrapper:nth-child(3) {
  width: 760px;
}

.feedback-form label {
  font-weight: 700;
  line-height: 18px;
}

.form-wrapper input[type="text"],
.form-wrapper input[type="email"] {
  width: 360px;
  padding: 14px 12px;
  margin-top: 5px;
  border-radius: 3px;
  box-sizing: border-box;
}

.feedback-form .form-wrapper:last-of-type {
  padding-top: 32px;
}

.form-wrapper textarea {
  margin-top: 5px;
  padding: 13px;
  width: 730px;
  height: 90px;
}



.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  border: 2px solid #d7dcde;
}

.feedback-form input[type="text"]:hover,
.feedback-form input[type="email"]:hover,
.feedback-form textarea:hover {
  border-color: #b4b9bb;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  opacity: 1;
  color: #444444;
  border-color: #000000;
}

.feedback-form input:not(:placeholder-shown):invalid,
.feedback-form input:not(:placeholder-shown):invalid,
.feedback-form textarea:not(:placeholder-shown):invalid {
  opacity: 1;
  color: #e74246;
  border-color: #e74246;
}

.btn-form {
  display: inline-block;
  margin-top: 37px;
  padding: 17px 84px;
  margin-bottom: 80px;
  vertical-align: middle;
}

/* Страница Каталога */

/* Header каталога */


.header-catalog .header-logo:hover {
  opacity: 0.8;
}

.header-catalog .header-logo:active {
  opacity: 0.3;
}

.header-catalog h1 {
  margin: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  text-align: center;
  padding-top: 87px;
  padding-bottom: 110px;
}

.main-catalog {
  display: flex;
  width: 1160px;
  margin: auto;
  margin-top: 36px;
}

/* Формы стоимость, сетка, особенности */
/* Стоимость */

.selection {
  width: 300px;
  padding-top: 20px;
}

.selection fieldset {
  border: none;
}

.filter {
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
}

.filter legend {
  padding-bottom: 45px;
}

.filter-cost {
  width: 260px;
  min-height: 80px;
  background-color: #eeeeee;
  border-radius: 3px;
  position: relative;
  margin: 0;
}

.filter-cost::after {
  position: absolute;
  content: "";
  width: 145px;
  height: 2px;
  background-color: #00ca74;
  top: 50%;
  left: 25px;
}

.filter-line {
  position: absolute;
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
  margin: auto;
  top: 50%;
  left: 20px;
}

.filter-button-min {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-color: transparent;
  background-image: url(../img/decor/filter-button-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -9px;
  left: -5px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.filter-button-max {
  content: "";
  position: absolute;
  width: 23px;
  height: 23px;
  background-image: url(../img/decor/filter-button-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  top: -9px;
  left: 136px;
  z-index: 10;
  cursor: pointer;
  padding: 0;
  border-radius: 50%;
}

.filter-wrapper {
  display: flex;
  margin-top: 15px;
  width: 260px;
  justify-content: space-between;
}


.filter legend,
.grid legend,
.advantages legend {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter legend {
  letter-spacing: 0.18px;
}

.filter-min label,
.filter-max label {
  line-height: 22px;
  text-transform: uppercase;
  color: #283136;
}

.filter-min input[type="text"],
.filter-max input[type="text"] {
  background-color: #eeeeee;
  border: none;
  text-align: center;
  width: 80px;
  box-sizing: border-box;
  padding: 8px 16px;
  margin-left: 10px;
}

.filter-min input[value="0"],
.filter-max input[value="15000"] {
  line-height: 22px;
  color: #283136;
}

/* Сетка */

.grid {
  padding: 0;
  padding-bottom: 43px;
  margin: 0;
}

.grid .radio-wrapper {
  padding-top: 15px;
}


.grid label {
  line-height: 20px;
  color: #283136;
}

.grid input:disabled+label,
.advantages input:disabled+label {
  color: rgba(40, 49, 54, 0.3);
}

/* Особенности */

.advantages {
  padding: 0;
  margin: 0;
}

.advantages .checkbox-wrapper {
  padding-top: 16px;
}

.advantages label {
  line-height: 20px;
  color: #283136;
}

.selection button {
  font-weight: 500;
  text-align: center;
  border: none;
  background-color: #eeeeee;
  cursor: pointer;
}

.selection button:hover {
  background-color: #dfdfdf;
}

.selection button:active {
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.show-btn {
  margin: 0;
  margin-top: 45px;
  position: relative;
  padding: 16px 90px;
  text-transform: uppercase;
}

/* чекбоксы/радиокнопки */

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked),
input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked+label,
input[type="checkbox"]:not(:checked)+label,
input[type="radio"]:checked+label,
input[type="radio"]:not(:checked)+label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

input[type="checkbox"]:checked+label:before,
input[type="checkbox"]:not(:checked)+label:before,
input[type="radio"]:checked+label:before,
input[type="radio"]:not(:checked)+label:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -5px;
  width: 25px;
  height: 25px;
}

input[type="checkbox"]:checked+label:before {
  background-image: url(../img/decor/checkbox-on-icon.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

input[type="checkbox"]:not(:checked)+label:before {
  background-image: url(../img/decor/checkbox-off-icon.svg);
  background-repeat: no-repeat;
  opacity: 0.4;
}

input[type="radio"]:checked+label:before {
  background-image: url(../img/decor/radio-on-icon.svg);
  opacity: 0.4;
}

input[type="radio"]:not(:checked)+label:before {
  background-image: url(../img/decor/radio-off-icon.svg);
  opacity: 0.4;
}

input[type="radio"]:disabled+label:before {
  opacity: 0.1;
}


input[type="checkbox"]+label:hover:before,
input[type="checkbox"]+label:focus:before,
input[type="radio"]+label:hover:before,
input[type="radio"]+label:focus:before {
  opacity: 1;
}


/* Сортировка */
.wrapper-catalog {
  margin-left: 80px;
}

.sorting {
  display: flex;
  padding-top: 20px;
  justify-content: space-between;
}

.sorting h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-transform: uppercase;
  padding-top: 3px;
  margin: 0;
  padding-left: 40px;
}

.sorting-list {
  display: flex;
  justify-content: space-around;
  width: 300px;
  margin: 0;
  padding-left: 220px;
  list-style: none;
}

.sorting-list a {
  display: inline-block;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.sorting-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting-list a:active,
.sorting-list .item-curent {
  color: #000000;
}

.sorting-arrow {
  list-style: none;
}

.arrow-wrapper {
  padding-top: 5px;
}

.arrow-wrapper .arrow-down,
.arrow-wrapper .arrow-up {
  font-size: 0;
}

.arrow-wrapper .arrow-down {
  padding-right: 10px;
}

.arrow-wrapper .arrow-down::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/decor/arrow-down-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: top;
}


.arrow-wrapper .arrow-up::before {
  display: inline-block;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url(../img/decor/arrow-up-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.2;
  cursor: pointer;
  vertical-align: top;
}

.arrow-wrapper .arrow-down:hover::before,
.arrow-wrapper .arrow-up:hover::before {
  opacity: 0.4;
}

.arrow-wrapper .arrow-down:active::before,
.arrow-wrapper .arrow-up:active::before,
.arrow-wrapper .item-curent::before {
  opacity: 1;
}

/* Каталог товаров */
.card {
  width: 800px;
  padding-top: 7px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
}

.item-curent .card-hover-blog {
  opacity: 1;
}

.card-list li {
  position: relative;
  margin-top: 75px;
}

.card-list .item-curent::before {
  opacity: 1;
}

.card-list li::before {
  content: "";
  position: absolute;
  background-image: url(../img/decor/browser-icon.svg);
  background-repeat: no-repeat;
  top: -39px;
  width: 100%;
  height: 40px;
  opacity: 0.12;
}

.card-list li:hover::before {
  opacity: 1;
}

.card-hover-blog {
  position: absolute;
  top: 345px;
  width: 100%;
  opacity: 0;
  background-color: #eeeeee;
}

li:hover .card-hover-blog {
  opacity: 1;
}

.card-hover-blog h3 {
  margin: 0;
  margin-top: 30px;
}

.card-hover-blog p {
  margin: auto;
  margin-top: 15px;
}

.card-hover-blog a {
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.card-list img {
  display: block;
}


.card-hover-blog a:hover {
  color: #fb565a;
}

.card-hover-blog a:active {
  color: rgba(0, 0, 0, 0.3);
}

.card-hover-blog p {
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.card-hover-blog .card-btn-wprapper {
  text-align: center;
}

.card-btn {
  margin-top: 28px;
  margin-bottom: 43px;
  padding: 15px 62px;
}

/* Пагинация */

.pagination {
  margin-bottom: -20px;
}


.pagination-list {
  display: flex;
  justify-content: space-between;
  width: 445px;
  margin: 0;
  margin-top: 59px;
  align-content: center;
  list-style: none;
}

.pagination-list a {
  display: flex;
  font-weight: 500;
  background-color: #eeeeee;
  color: #000000;
  text-transform: uppercase;
  padding: 15px 21px;
  line-height: 18px;
  border-radius: 3px;
}

.pagination-list .item-curent {
  background-color: #ffffff;
  border: 2px solid #dbdbdb;
  padding: 13px 18px;
}

.pagination-list a:hover {
  text-transform: uppercase;
  background-color: #dfdfdf;
}

.pagination-list a:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-list .btn-next {
  padding: 15px 80px;
}
